@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #3d3d3d;
}

.wallpaper{
  height: 100vh;
  overflow: hidden;
  background-image: url("./images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
  
}

.task-bar{
  padding-left: 0;
  padding-right: 0;
  height: 45px;
  width: 100%;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.right-tools{
  position:absolute;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons{
  padding: 0 5px;
  font-size: 20px;
}

.time-date{
  padding: 0 5px;
  margin-right: 10px;
  text-align: center;

}